extends layout

block content
  h1= title

  div
    select(data-bind="options: players, optionsText: 'name', optionsCaption: 'Choose...', value: teamOne")
    select(data-bind="options: players, optionsText: 'name', optionsCaption: 'Choose...', value: teamTwo")

  div
    div
        span Team One Mean
        div(data-bind="if: teamOne()")
            span(data-bind="text: teamOne().rating.mean")
    div
        span Team One Std
        div(data-bind="if: teamOne()")
            span(data-bind="text: teamOne().rating.std")
    div
        span Team One Rank
        div(data-bind="if: teamOne()")
            input(data-bind="value: teamOne().rank")
    div
        span Team Two Mean
        div(data-bind="if: teamTwo()")
            span(data-bind="text: teamTwo().rating.mean")
    div
        span Team Two Std
        div(data-bind="if: teamTwo()")
            span(data-bind="text: teamTwo().rating.std")
    div
        span Team Two Rank
        div(data-bind="if: teamTwo()")
            input(data-bind="value: teamTwo().rank")

    div
        input(type='button',value='Calculate',data-bind='click: submit')

    p Team 1 Updated Rating: #{teamOneNewRating}
    p Team 2 Updated Rating: #{teamTwoNewRating}

    pre(data-bind="text: ko.toJSON($root, null, 2)")

    block scripts
    script(type='text/javascript', src='/javascript/require.js', data-main='/javascript/main.js')
